 <!-- ----------NAVBAR----------------  -->
<nav class="navbar navbar-default navbar-inverse" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <img style="width:70px;" src="~/Pictures/BrainParty_LogoForBlog.png" />

        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                @if (Request.IsAuthenticated)
                {
                    <li class="" id="hot"><a href="/Account/Hot">Hot</a></li>
                    <li class="" id="trending"><a href="/Account/Trending">Trending</a></li>
                    <li class="" id="fresh"><a href="/Account/Fresh">Fresh</a></li>
                }
                else
                {
                    <li class="" id="hot"><a href="/Home/Hot">Hot</a></li>
                    <li class="" id="trending"><a href="/Home/Trending">Trending</a></li>
                    <li class="" id="fresh"><a href="/Home/Fresh">Fresh</a></li>
                }
                
            </ul>

            @if (Request.IsAuthenticated)
            {

                <ul class="nav navbar-nav navbar-right">

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Account <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">My Profile</a></li>
                            <li><a href="/Account/Settings">Settings</a></li>
                            <li><a href="/Account/LogOut">LogOut</a></li>


                        </ul>
                    </li>

                        <li>
                            <button  id="Upload" type="button" class="btn btn-primary btn3d"  data-toggle="modal" data-target="#myModal">
                                <span class="glyphicon glyphicon-plus"  aria-hidden="true"></span> &nbsp;&nbsp;Yükle
                            </button>
                       
                    </li>
                   
                    

                </ul>
            }
            else
            {
                <ul class="nav navbar-nav navbar-right">

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Login</b> <span class="caret"></span></a>
                        <ul id="login-dp" class="dropdown-menu">
                            <li>
                                <div class="row">
                                    <div class="col-md-12">


                                        @using (Html.BeginForm("Login", "Home", FormMethod.Post))
                                        {

                                            @Html.AntiForgeryToken()

                                            <div class="form-group">
                                                <label class="sr-only" for="exampleInputEmail2">Email address</label>


                                                @Html.TextBox("EmailAddress", null, new { @class = "form-control", @placeholder = "Email Adresi" })
                                                @Html.ValidationMessage("EmailAddress")
                                            </div>
                                            <div class="form-group">
                                                <label class="sr-only" for="exampleInputPassword2">Password</label>


                                                @Html.Password("Password", null, new { @class = "form-control", @placeholder = "Parola" })
                                               @Html.ValidationMessage("Password")
                                                <p style="color:red">@ViewBag.ErrorMessage</p>
                                                <div class="help-block text-right"><a href="/home/passwordreset">Forget the password ?</a></div>
                                            </div>
                                            <div class="form-group">
                                                <button type="submit" class="btn btn-primary btn-block">Sign in</button>
                                            </div>
                                        }
                                    </div>
                                    <div class="bottom text-center">
                                        New here? <a href="~/Home/Register"><b>Join Us</b></a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            }



        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<!-- -------------NAVBAR-------------  -->
