
@{
    Layout = null;
}



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ResetPassword</title>
    <script src='https://www.google.com/recaptcha/api.js'></script>
</head>
<body>
    <div>

        <label>@ViewBag.Message</label>


        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.Password("Password", null, new { @class = "form-control", @placeholder = "yeni şifre" })
            @Html.Password("PasswordAgain", null, new { @class = "form-control", @placeholder = "şifre tekrar" })

            @Html.Hidden("ActivationCode", (string)ViewBag.Code, new { @class = "form-control" })
            <div class="g-recaptcha" data-sitekey="6LcjsTQUAAAAABLEbG2nwynHLfW9p-WD5l9R9bvc"></div>

            <input type="submit" name="name" value="Onayla" />
        }


    </div>
</body>
</html>
