
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<h2>Index</h2>


@ViewBag.Email

@using (Html.BeginForm("Upload", "Account", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{

    @Html.TextBox("file", null, new { @type = "file", @multiple = false })

    <input type="submit" name="name" value="Upload Meme" />
}

@foreach (var item in Model)
{
    <label>@item.Route</label>
    <img style="height:200px; width:200px;" src="@item.Route" alt="@item.Name" />
}