@{
    ViewBag.Title = "Hot";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}



<link href="~/CSS/Article.css" rel="stylesheet" />

<script>

    $(document).ready(function () {


        $("#files").click(function () {

            $('#myModal').modal('hide');
            $('#betaModal').modal();



        });


        $('#back').click(function () {
            $('#urlModal').modal('hide');
            $('#myModal').modal();
        });

        $("#troll").click(function () {
            $('#myModal').modal('hide');
            window.open("http://memeful.com/generator");
        });


        $('#url').click(function () {
            $('#myModal').modal('hide');
            $('#urlModal').modal();
        });

        $("#trending").addClass("active");

        document.getElementById("fileload").onchange = function () {

            var reader = new FileReader();



            reader.onload = function (e) {
                // get loaded data and render thumbnail.
                document.getElementById("image").src = e.target.result;

            };

            // read the image file as a data URL.
            reader.readAsDataURL(this.files[0]);

        };


        $("[id$='Upvote']").click(function () {

            var id = $(this).find("span").attr('id');

            $.ajax({
                url: '/Account/UpVote/',
                type: 'POST',
                dataType: 'json',
                data: { id: id },
                success: function (data) {
                    if (data == "1") {

                        var vote = $("div").find("#" + id).find("#VoteNumber").text();

                        vote++;

                        $("div").find("#" + id).find("#VoteNumber").text(vote);
                    }

                }
            });
        });

        $("[id$='Downvote']").click(function () {
            var id = $(this).find("span").attr('id');
            $.ajax({
                url: '/Account/DownVote/',
                type: 'POST',
                dataType: 'json',
                data: { id: id },
                success: function (data) {
                    if (data == "1") {

                        var vote = $("div").find("#" + id).find("#VoteNumber").text();

                        vote--;

                        $("div").find("#" + id).find("#VoteNumber").text(vote);
                    }

                }
            });
        });




    });


</script>




@foreach (var item in Model)
{


    <div id="@item.ImgID" style="position:center" class="container">
        <div class="span6">
            <div class="clear"></div>
            <h3>@item.Description</h3>
            <img style="height:500px; width:500px;" src="@item.Route" />
            <div>
                <a href="/Account/Comment?id=@item.ImgID" id="@item.ImgID" style="color:grey"><span id="VoteNumber">@item.VoteNumber</span> Points</a>


                <a href="/Account/Comment?id=@item.ImgID" style="color:grey"><span>@item.CommentNumber</span> Comments</a>
                <div class="tags">

                    <button id="@item.ImgID Upvote" type="button" class="btn btn-primary btn-lg btn3d"><span id="@item.ImgID" class="glyphicon glyphicon-arrow-up"></span></button>


                    <button id="@item.ImgID Downvote" type="button" class="btn btn-danger btn-lg btn3d"><span id="@item.ImgID" class="glyphicon glyphicon-arrow-down"></span></button>



                </div>
            </div>
            <hr>
        </div>
    </div>

}


